.bordered {
  border: 1px solid #ccc;
  border-radius: 3px;
}

.notSelected {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.iconView {
  /*.bordered;*/
}

.itemList {
  /*padding: 10px;*/
  overflow-y: scroll;
  height: 100%;
}

.currentItem {
  display: inline-block;
  margin: 10px 0px 10px 10px;
  width: 100px;
  height: 80px;
}

.currentItem .itemAttr {
  padding: 10px 0px 0px 25%;
  cursor: pointer;
}

.currentItem .itemAttr .image {
  height: 60%;
}

.currentItem .text {
  height: 20%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.currentItem.checked {
  background: rgba(128, 128, 128, 0.27);
}

.buttom {
  border: 1px solid #ccc;
  border-radius: 3px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
  display: inline-block;
  margin: 10px 2px;
  padding: 5px 0px;
  text-align: center;
  width: 120px;
}

#addItem {
  border-right: 1px solid #ccc;
  display: inline-block;
  padding: 5px;
  padding-left: 11px;
}

.typeOfElement {
  border: 0px;
  display: inline-block;
}

.buttomAdd {
  border: 1px solid #ccc;
  border-radius: 3px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
  display: inline-block;
  margin: 10px 2px;
  /*padding: 5px 0px;*/
  text-align: center;
  width: 156px;
}

.buttom:hover,
#addItem:hover,
.currentItem:hover {
  background: #e3ebf3;
}

.currentItem.checked:hover {
  background: rgba(49, 48, 48, 0.27);
}

/*test*/

.ui-icon-gripsmall-diagonal-se {
  background-position: -83px -227px;
}

.ui-resizable {
  border: 1px solid #ccc;
  border-radius: 3px;
}