<head>
	<meta charset="utf-8">
 	<title>IconView</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/jquery_ui.css">
</head>

<body>
	<div class="browserWrapper">
		<div class= "toolBar">

			<div class="buttom" id="removeItem">Удалить</div>
			<div class="buttom" id="toggleItems">Выделить\Снять </div>
			<div class="buttomAdd">
				<div id="addItem">Добавить</div>
				<select class="typeOfElement"> 
					<option value="text" selected>Текст</option>
					<option value="music">Музыка</option>
					<option value="photo">Фото</option>
					<option value="video">Видео</option>
				</select>
			</div>
		</div>
		<div class="iconView resizable">
			<div class="itemList"></div>
		</div>	
	</div>
</body>

<footer></footer>

<script src="js/jquery.min.js"></script>
<script src="js/underscore.min.js"></script>
<script src="js/backbone.min.js"></script>
<script src="js/main.js"></script>
<script src="js/jquery-ui.min.js"></script>

<script id="IconItem-tmpl" type="text/html">
	<div class="itemAttr">
		<img src = "<%=image%>" class="image"></div>
		<div class="text"><%=text%></div>
	</div>
</script>