.bordered {
	border: 1px solid #ccc;
	border-radius: 3px;
}
.notSelected {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.iconView {
	/*.bordered;*/
}
.itemList {
	/*padding: 10px;*/
/*	overflow-y: scroll;
    height: 100%;*/
}
.currentItem {
	display: inline-block;
	margin:10px 0px 10px 10px;

	width: 100px;
	height: 80px;


	.itemAttr {
		padding: 10px 0px 0px 25%;
		cursor: pointer;
		.image {
			height: 60%;
		}
	}
	.text {
		height: 20%;
		white-space: nowrap; 
		overflow: hidden;
		-o-text-overflow: ellipsis; 
		text-overflow: ellipsis;
		text-align: center; 
	}
}
.currentItem.checked {
	background: rgba(128, 128, 128, 0.27);
}

.buttom {
	.bordered;
	.notSelected;
	cursor: pointer;
	display: inline-block;

	
	margin: 10px 2px;
	padding: 5px 0px;
	text-align: center;
	width: 120px;
}
#addItem {
	border-right: 1px solid #ccc;
	display: inline-block;
	padding: 5px;	
	padding-left: 11px;

}
.typeOfElement {
	border: 0px;
	display: inline-block;
}
.buttomAdd {
	.bordered;
	.notSelected;
	cursor: pointer;
	display: inline-block;

	
	margin: 10px 2px;
	/*padding: 5px 0px;*/
	text-align: center;
	width: 156px;
}
.buttom:hover, #addItem:hover, .currentItem:hover {
	background: #e3ebf3;
}
.currentItem.checked:hover{
	background: rgba(49, 48, 48, 0.27);

}
/*test*/
.ui-icon-gripsmall-diagonal-se {
    background-position: -83px -227px;
}
.ui-resizable {
	.bordered;
}